<app-header (logoutListener)="logout()"></app-header>
<div class="container">
  <div class="row">
    <div class="col" style="max-width: 400px; min-width: 400px;">
      <app-form 
        [formListener]="eventForm.asObservable()" 
        (editDoneListener)="setEditDone()" 
        (submitAddData)="submitAddData($event)"
        (submitEditData)="submitEditData($event)">
      </app-form>
    </div>
    <div class="col">
      <app-table 
        (clickListenerForEdit)="setFormForEdit($event)" 
        [events]="editDone.asObservable()" 
        [updateData]="goUpdateData.asObservable()"
        (deleteListener)="submitDeleteData($event)">
      </app-table>
    </div>
  </div>
</div>
