.form {
  width: 360px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
    width: 50%;
    padding-right: 10px;
}

td {
    width: 40px;
}

